$background-color: white;
$font-color: #333;
$border-color: #ddd;
$header-color: #555;
$price-color: #900;
$disable-color: #666;

$amazon-orange: #e47911;
$link-color: #004B91;
$link-over-color: #996633;
$important: '' !default;