@charset "utf-8";

.amazonjs_search_form {
  input[type="text"] {
    margin: 5px 0;
    padding: 5px;
    width: 80%;
  }
  .button-large {
    height: 30px !important;
    line-height: 28px !important;
    padding: 0 12px 2px !important;
  }
}

.amazonjs_search_results {
  margin: 1em;
  min-height: 200px;
  .error {
    .error_body {
      overflow: auto;
    }
  }
  .indicator {
    display: block;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    background: transparent url(../images/ajax-loader.gif) no-repeat center;
  }
  .searchindex {
    clear: both;
  }
  .searchpager {
    border: 1px solid #ddd;
    text-align: center;
    padding: 2px;
    margin: 2px;
    .prev {
      margin-right: 1em;
    }
    .next {
      margin-left: 1em;
    }
  }
  .amazonjs_searchitem {
    display: block;
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #ddd;

    .amazonjs_footer {
      clear: both;
    }
  }
  h4 {
    display: inline;
    font-size: 1em;
    font-weight: normal;
    margin: .5em;
    a {
      text-decoration: none;
    }
  }
  img {
    float: left;
    border: 1px solid #DFDFDF;
  }
  .amazonjs_searchitem .select {
    float: right !important;
    margin-left: 1em;
  }
}

.amazonjs_overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  filter: alpha(opacity = 75);
  /*IE*/
  -moz-opacity: 0.75;
  /*FF*/
  opacity: 0.75;
}

.amazonjs_template_form {
  position: absolute;
  display: none;
  border: 1px solid #ddd;
  background-color: #fff;
  left: 5px;
  right: 5px;
  padding: 10px;
  h2 {
    font-size: 1em;
    margin: 5px 0;
    padding: 0;
  }
  label, legend {
    font-size: .9em;
  }
  label.disabled {
    color: #999;
  }
  .select_template {
    margin-bottom: 10px;

    fieldset {
      margin-left: 1em;
      input {
        margin-left: 1em;
      }
    }

    legend {
      margin: 5px 0;
    }
  }
  .buttons {
    margin: 5px auto 0 auto;
    text-align: center;
  }
  .preview_code {
    width: 100%;
    height: 4em;
    font-size: .9em;
  }
}

